@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Signika:700');

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
	font-family: 'Signika', sans-serif;
}

h1 {
	font-size: 24px;
	color: #fff;
	margin: 0;
	display: inline-block;
	padding-left: 100px;
}

h2 {
	font-size: 26px;
}

a {
	text-decoration: none;
	color: #33ab33;
	font-weight: bold;
}

textarea:focus, input:focus{
	outline: none;
}

input[type="text"] {
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

input[type="radio"] {
	display: none;
}

.options-wrapper label {
	cursor: pointer;
	display: inline-block;
	width: 70px;
	height: 60px;
	border: 0;
	margin: 0;
	padding: 0;
	background: #fff;
	border-radius: 0%;
	border: 1px solid #dcdcdc;
	border-bottom: 0;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}

.options-wrapper:last-of-type label {
	border-bottom: 1px solid #dcdcdc;
}

input[type="radio"]:checked + label nobr {
	color: #fff;
}

input[type="radio"]:checked + label {
	background: #33ab33;
	position: relative;
}

input[type="radio"]:checked + label:before {
	content:'';
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #33ab33; 
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translateY(-50%);
}

input[type="radio"]+ label {
	cursor: pointer;
}

option,
select {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}

.image {
	margin: 0;
}

.margin-right{
	margin-right: 4%;
}

.margin-left{
	margin-left: 4%;
}

.table-cell.v-align-top {
	vertical-align: top;
}

.language_switcher {
	display: inline-block;
	position: relative;
	margin-right: 0;
	background: #fff;
	height: 30px;
	width: 50px;
}

.language_switcher:after {
	content:'▼';
	font-size: 10px;
	color: #6b6b6b;
	position: absolute;
	right: 10px;
	top: 7px;
	z-index: 5;
}

.language_switcher select:focus {
    outline: none;
}

.language_switcher select {
	position: absolute;
	z-index: 6;
	width: 40px;
	left: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #6b6b6b;
	height: 30px;
	border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    appearance: none;
    -webkit-appearance: none;
}

.table {
	display: table;
	width: 100%;
}


.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.table-cell.mobile-only {
	display: none;
}

.top-items-holder{
	position: absolute;
	padding-left: 30px;
	left: 0;
}

.top-items-holder .table-cell:last-of-type {
	text-align: right;
	padding-right: 10px;
}

.mobile-nav {
	display: block;
}

.mobile-nav-list {
	display: inline-block;
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding-left: 50px;
}

.mobile-nav-list-item {
	float: left;
	padding: 5px 6px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.mobile-nav-list-item:first-child {
	padding-left: 0;
}

.mobile-nav-list-item:last-child {
	padding-right: 0;
}

.sections {
	position: relative;
	z-index: 3;
}

.section {
	width: 100%;
	min-height: 30vh;
	padding: 20px;
}

.section:nth-of-type(even){
	background: #eee;
}

.section.food-image{
	height: 300px;
	padding: 0;
	min-height: 0;
	background-image: url('../../img/food.jpg');
	background-size: cover;
}

.section.map-holder {
	margin-top: 56px;
	height: 0;
	min-height: 0;
	position: relative;
	padding-top: 40%;
	padding-right: 0;
	padding-left: 0;
}

.section.footer {
	background: #333;
	color: #fff;
	min-height: 0;
}

.footer .content-holder {
	display: table;
	width: 100%;
}

#map {
	position: absolute;
	top: 0;
	height: 100%;
	width:100%;
}

.top {
	padding: 10px 20px;
	background: #029400;
	position: fixed;
	width: 100%;
	height: 56px;
	top: 0;
	left: 0;
	z-index: 99;
}

.logo {
	width: 90px;
    height: 90px;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 2;
}

.main-menu-toggle {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.mobile-nav {
	width: 100%;
	color: #fff;
	left: 0;
	z-index: 3;
}

.info-box {
	top: 0;
	margin-right: 20px;
	position: absolute;
	width: 25%;
	height: 100%;
	z-index: 2;
	background: #fff;
	padding: 20px;
	border: 1px solid #ebebeb;
	transition: all .3s ease-in-out;
}

.info-box.active i,
.info-box.active h1 {
	display: none;
}

.hide-info {
	display: block;
	width: 20px;
	position: absolute;
	right: 0;
	height: 20%;
	top: 50%;
	transform: translateY(-100%);
	background: #efefef;
	color: #fff;
	cursor: pointer;
}

#js-hide-txt {
	display: none;
}

#js-hide-triangle {
	display: block;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	position: relative;
	color: #33ab33;
}

.info-box.side {
	transform: translateX(-92%);
}

.info-box.side #js-hide-triangle {
	transform: translateY(-50%) rotate(-90deg);
}

.location-info-holder {
	min-height: 115px;
	border: 1px dashed #ebebeb;
	margin-bottom: 20px;
	padding-top: 30px;
}

/*

for info sections per location
.location-title {
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 20px;
}

.location-content {
	margin-bottom: 5px;
} */

.location-info-holder.active {
	border-color: transparent;
}

.location-info{
	padding-bottom: 10px;
}

.info-section-close {
	display: none;
}

.share-url-holder {
	border-top: 1px solid #eee;
	padding-top: 5px;
	font-size: 14px;
}

.share-url-holder-text {
	display: block;
	padding-bottom: 5px;
}

.share-url-ipnut-btn-holder {
	display: inline-block;
	width: 100%;
}

.share-url-input {
	float: left;
	width: 85%;
	height: 30px;
	padding: 4px 2px;
	font-size: 12px;
	border: 1px solid #33ab33;
	border-radius: 3px 0 0 3px;
}

.share-url-btn {
	width: 15%;
	float: left;
    height: 30px;
    padding: 0;
    background: #33ab33;
    border: 0;
 	border-radius: 0 3px 3px 0;   
}

.share-url-btn img {
	height: 80%;
}

.succes-message-url-copied {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    z-index: 10;
    background: rgba(51, 171, 51, 1);
    transform: translateX(-100%);
    color: #fff;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.succes-message-url-copied.active {
	transform: translateX(0);
	opacity: 1;
	transition: all .3s ease-in-out;
}

.share-check-icon {
	display: inline-block;
}

.options-wrapper label nobr {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #6b6b6b;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ads-space {
	height: 100px;
	width: 100%;
	background: #fff;
	z-index: 99;
	position: fixed;
	bottom: 0;
	display: none;
}


.link_list_holder,
.host_holder {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
}

.link_list_holder {
	text-transform: uppercase;
	font-size: 12px;
	color: #c7c7c7;
}

.host_holder {
	text-align: right;
}

.host_holder img {
	max-width: 120px;
}

.profile-pic {
	width: 80px;
	height: 100px;
	margin-right: 20px;
	display: inline-block;
	margin-left: 0;
	position: relative;
}

.profile-pic img{
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
}
.profile-pic figcaption{
	text-transform: uppercase;
	font-size: 10px;
	bottom: 20px;
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s ease-in-out;
}

.profile-pic:hover {
	cursor: pointer;
}

.profile-pic:hover figcaption {
	bottom: 0;
}

.image-text-holder {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.image-text-holder .text-holder,
.image-text-holder .image {
	float: left;
}
.image-text-holder .image {
	width: 26%;
}

.image-text-holder .image img,
.image-text-holder .image svg {
	max-width: 180px;
	width: 100%;
}

.image-text-holder .text-holder {
	width: 70%;
}

@media only screen and (min-device-width: 1600px) {
	.section.map-holder {
		padding-top: 500px;
	}
}

@media only screen and (max-device-width: 1220px) {

	.info-box {
		width: 42vw;
	} 

}

@media only screen and (max-device-width: 960px) {
	.options .options-wrapper {
		height: 50px;
	}

	.options .options-wrapper label {
		font-size: 10px;
	}

}

@media only screen and (min-device-width: 768px) {

	.page-wrapper {
		position: relative;
	}

	.content-holder {
		max-width: 900px;
		margin: 0 auto 40px;
	}

	.bottom-curve-green {
		display: none;
	}

	.bottom-curve {
		height: 10vw;
		background-image: url('../../img/top-curve.svg');
    	background-repeat: no-repeat;
    	background-position: bottom;
    	background-size: cover;
    	bottom: -51px;
    	width: 100%;
    	position: absolute;
    	z-index: 2;
	}

	.filter-nav {
	    height: 100%;
	    width: 70px;
	    margin: 0 auto;
	    background: transparent;
	    position: absolute;
	    top: -10px;
	    right: 50px;
	    z-index: 97;
	}

	.options {
	    display: inline-block;
	    width: 100%;
	    height: 300px;
	    top: 20px;
	    position: relative;
	}

	.options-wrapper {
	    height: 60px;
	    width: 100%;
	    position: relative;
	}

	.info-toggle-holder {
		position: absolute;
	    right: 0;
	    top: 0;
	    height: 100%;
	    width: 20px;
	}

	.info-toggle-holder > span:first-of-type {
		display: none;
	}

	.location-info-holder {
		padding-top: 0;
    	position: relative;
    	top: 50%;
    	transform: translateY(-50%);
	}

	.info-box-info {
		display: inline-block;
		padding-top: 3vw;
	}
}

@media only screen and (max-device-width: 767px) {

	body {
			font-size: 14px;
	}

	h1 {
		display: none;
	}

	.desktop-only {
		display: none;
	}

	.table-cell.mobile-only {
		display: table-cell;
	}

	.fourty {
		width: 40%;
		vertical-align: top;
	}

	.mobile-nav {
		padding-top: 7px;
		padding-left: 10px;
	}

	.twenty {
		width: 20%;
	}

	.top-items-holder {
		padding-left: 0;
		width: 100%;
		left: 0;
		right: auto;
	}

	.mobile-nav-list {
		padding-left: 0;
	}

	.language_switcher {
		height: 20px;
		width: 36px;
		margin-top: 10px;
		margin-right: 10px;
	}

	.language_switcher:after {
		font-size: 8px;
		right: 6px;
		top: 4px;
	}

	.language_switcher select {
		width: 30px;
		left: 6px;
		font-size: 10px;
		height: 20px;
	}

	.bottom-curve {
		display: none;
	}

	.bottom-curve-green {
		height: 39px;
	    background-image: url(../../img/bottom-curve-green.svg);
	    background-repeat: no-repeat;
	    background-position: top center;
	    background-size: 100%;
	    width: 101%;
	    position: fixed;
	    z-index: 98;
	    top: 39px;
	}


	.top {
		height: 40px;
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.logo {
		width: 80px;
		height: 80px;
		left: auto;
		position: relative;
		margin: 0 auto;
	}

	.top-items-holder .table-cell:last-of-type {
		padding-right: 0;
	}

	.section.map-holder {
		padding-top: 100%;
		min-height: 90%;
		margin-top: 40px;
	}

	.section {
		padding: 10px;
	}

	#map > div {
		top: 10px;
	}

	.info-box {
		height: auto;
		top: auto;
		margin: 0;
		position: fixed;
		width: 100%;
		min-height: 160px;
		padding: 0 10px 10px;
		border-top: 1px solid #ebebeb;
		bottom: 60px;
		transition: all .3s ease-in-out;
	}


	.info-toggle-holder {
		width: calc(100% + 20px);
		display: block;
		margin-left: -10px;
		margin-right: -10px;
		padding: 5px 10px;
		height: 30px;
		background: #efefef;
	}

	.hide-info {
		display: inline-block;
		position: absolute;
		width: 100%;
		text-align: center;
		top: auto;
		height: auto;
		transform: translateY(0%);
		background: none;
	}

	#js-hide-txt {
		display: inline-block;
	}

	#js-hide-triangle {
		transform: translateY(0%) rotate(0deg);
	}

	.hide-info span {
		color: #6b6b6b;
		font-weight: bold;
	}

	.hide-info span:last-of-type {
		font-size: 12px;
	}

	.info-box.small {
		transform: translateY(88%);
	}
	.info-box.small.hidden {
		transform: translateY(100%);
	}

	.info-box .hide-info #js-hide-triangle {
		display: inline-block;
	}

	.info-box.small .hide-info #js-hide-triangle{
		transform: rotate(180deg);
	}

	.filter-nav {
		position: fixed;
		z-index: 8;
		width: 100%;
		background: #fff;
		bottom: 0;
		border-top: 1px solid #eee;
	}

	.location-info-holder {
		min-height: 100px;
		padding-top: 10px;
	}

	.options-button-holder {
		display: block;
	}

	.options-wrapper label {
		font-size: 10px;
		width: 20vw;
	}

	input[type="radio"]+ label {
		border: 0;
	    border-right: 1px solid #dcdcdc;
	    border-top: 1px solid #dcdcdc;
	    border-bottom: 1px solid #dcdcdc;
	}

	input[type="radio"] + label {
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	}

	input[type="radio"]:checked + label {
		border-top: 1px solid #33ab33;
	}

	input[type="radio"]:checked + label:before{
		display: none;
	}

	.options-wrapper:last-of-type input {
		border-right: 0;
	}

	.options.show .options-wrapper {
		display: block
	}

	.options-wrapper span.first {
		max-width: 150px;
	}

	.options {
		display: table;
		width: 100%;
		height: 100%;
	}

	.options-wrapper {
		display: table-cell;
		width: 20%;
		position: relative;
	}

	.filter-nav {
    	height: 60px;
	}

	.ads-space {
		display: none;
	}

	/*Move info section to side*/
	.page-wrapper {
		overflow-x: hidden;
		height: 100%;
	}
	
	.sections {
		position: fixed;
		margin-top: 40px;
		top: 0;
		left: 0;
		background: #fff;
		transform: translateX(100%);
		transition: all .3s ease-in-out;
		z-index: 9;
	}

	.sections.show {
		transform: translateX(0%);
	}
	
	.sections .section {
		position: relative;
		top: 0;
		left: 0;
		min-height: calc(100vh - 50px);
		background: #fff;
		overflow-y: scroll;
	}

	.sections .section.active {
		position: absolute;
		z-index: 3;
	}

	/*Add space to bottom for overflow mobile display*/
	.content-holder {
		padding-bottom: 110px;
	}

	.info-section-close {
		display: inline-block;
		position: absolute;
		color: #000;
		z-index: 4;
		right: 10px;
		top: 40px;
		width: 30px;
		height: 30px;
		background: #333;
		border-radius: 50%;
	}

	.info-section-close:after {
		content: '×';
	    color: #fff;
	    position: absolute;
	    top: 50%;
	    text-decoration: none;
	    text-shadow: 0 1px 0 #fff;
	    left: 50%;
	    font-size: 24px;
	    transform: translate(-50%, -50%);
	}


	.footer {
		display: none;
		padding-bottom: 140px;
	}

	.image-text-holder {
		display: flex;
		flex-direction: column;
	}

	.image-text-holder.second .text-holder{
		order: 1
	}
	.image-text-holder.second .image{
		order: 0
	}

}


@media only screen and (max-device-width: 480px) {

		.info-box.small {
			transform: translateY(85%);
		}
}

@media only screen and (max-device-width: 420px) {

	.margin-left,
	.margin-right {
		margin-left: 0;
		margin-right: 0;
	}

	.image-text-holder .text-holder,
	.image-text-holder .image {
		float: none;
	}

	.image-text-holder .image {
		width: 100%;
		text-align: center;
	}

	.image-text-holder .image img,
	.image-text-holder .image svg {
		max-width: 160px;
		width: 100%;
		margin: 0 auto;
	}

	.image-text-holder .text-holder {
		width: 100%;
	}

}